<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Envie sua mensagem ou perguntas</h2>
      <h3 class="subtitle is-5 is-muted">Gostaria de ouvir mais de você</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Digite o seu nome">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Digite o seu email">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Escreva sua mensagem..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Enviar Mensagem</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>